.App {
  text-align: center;
  background-color: rgb(157, 208, 238);
  height: 87vh;
  margin-top: -21px;
  padding-top: 100px;
}

.head{
  background-color: brown;
  color: bisque;
  padding: 10px;
  
}